<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- Menu button for smallar screens -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span>Menu</span>
      </a>
      <!-- Site name for smallar screens -->
      <a href="index.html" class="brand hidden-desktop">MacBeath</a>

      <!-- Navigation starts -->
      <div class="nav-collapse collapse">        

        <ul class="nav">  

          <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
          <li class="dropdown dropdown-big">
            <a href="http://s3.app1101102099.qqopenapp.com/admin/login.php" target="_blank"><span class="badge badge-important"><i class="icon-link"></i></span> 游戏管理后台</a>

          <!-- Sync to server link -->
          <li class="dropdown dropdown-big">
            <a href="http://central.app1101102099.twsapp.com/module/index.php" target="_blank"><span class="badge badge-success"><i class="icon-link"></i></span> 中央后台</a>

        </ul>


        <!-- Links -->
        <ul class="nav pull-right">
          <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="icon-user"></i> {{ user }} <b class="caret"></b>
            </a>
            
            <!-- Dropdown menu -->
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-user"></i> Profile</a></li>
              <li><a href="#"><i class="icon-cogs"></i> Settings</a></li>
              <li><a href="logout"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </li>
          
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
      <div class="row-fluid">
        <!-- Logo section -->
        <div class="span4">
          <!-- Logo. -->
          <div class="logo">
            <h2><a href="/"><span class="bold">运维管理平台</span></a></h2>
            <p class="meta">自动一体化，释放你的左右手！</p>
          </div>
          <!-- Logo ends -->
        </div>
      </div>
</div>
